@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #360369;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 122px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffff;
}
.container button {
    margin-top:30px;
  width: 492px;
  height: 58px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container button:hover{
    cursor: pointer;
    background-color: azure;
    border: none;
}